<div class="Educations">
    <h2>Educations</h2>
         <dl>
    <dt>Korea Advanced Institute of Science and Technology<a href="https://www.kaist.ac.kr/"> (link)</a><span style="float:right; color:#808080">Sep. 2021 - present</span> </dt>
        <dd><li><span style="color:#808080";>M.S. candidate in Industrial and Systems Engineering</span></li></dd>
        <dd><li><span style="color:#808080";>Research interest: Graph Neural Networks, Recommender Systems, Scene Understanding</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="https://dsail.kaist.ac.kr/professor/">Chanyoung Park</a></span></li></dd>
    <dt>Hanyang University<a href="https://www.hanyang.ac.kr/"> (link) </a><span style="float:right; color:#808080";>Mar. 2015 - Aug. 2021</span> </dt>
        <dd><li><span style="color:#808080";>B.S., Industrial Engineering</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="http://ids.hanyang.ac.kr/professor.html">Kichun Lee</a></span></li></dd>

    </dl>
  </div>

<p>
</p>
<br>
</br>

<!-- <div class="Research Experience">
    <h2>Research Experience</h2>
       <dl>
        <dt> Visting Researcher, <em><a href="http://www.net.c.titech.ac.jp/index.html">Murata Lab@Tokyo Tech </em></a><span style="float:right; color:#808080";>Oct. 2022 - Feb. 2023</span> </dt>
        <dd>
            <li><span style="color:#808080";>Explored weaknesses of structured-based and GNN-based methods in graphs with missing features</span></li>
            <li><span style="color:#808080";>Proposed supervised contrastive learning that incorporates pseudo-labels in graph domains</span></li>
            <li><span style="color:#808080";>Submitted 1 paper that alleviates missing feature problem on graphs at KDD 2023</span></li>
        </dd>
        
        <dt> Research Intern, <em><a href="https://dsail.kaist.ac.kr/">DSAIL@KAIST </em></a><span style="float:right; color:#808080";>Dec. 2020 - Feb. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Researched fundamentals of spectral-based GNNs such as <em>GCN</em> <a href="https://github.com/SukwonYun/GNN-Papers/blob/master/GCN/GCN_SukwonYun.pdf">(link)</a>, GAT <a href="https://github.com/SukwonYun/GNN-Papers/blob/master/GAT/GAT_SukwonYun.pdf">(link)</a> and BPR <a href="https://github.com/SukwonYun/RecSys-Papers/blob/master/BPR/BPR_SukwonYun.pdf">(link)</a></span></li>
            <li><span style="color:#808080";>Implemented key papers on Graph Neural Networks and Recommendation Systems</span></li>
            <li><span style="color:#808080";>(Project) Generated financial networks and enhanced user representation by utilizing GraphSAGE</span></li>

        </dd>

        <dt> Student Researcher, <em><a href="http://ids.hanyang.ac.kr/index.html">IDSL@HYU </em></a><span style="float:right; color:#808080";>Sep. 2020 - Aug. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Proposed an advanced version of Neural Graph Collaborative Filtering using a heterogeneous graph<a href="https://github.com/SukwonYun/Advanced-NGCF">(link)</a> </span></li>
            <li><span style="color:#808080";>Implemented One-Class SVM on anomaly detection task using MNIST dataset<a href="https://github.com/SukwonYun/Anomaly_Detection-PBL">(link)</a></span></li>
        </dd>



  </dl>
  </div> -->
  <br>

  <div class="Teaching Experience">
    <h2>Teaching Experience</h2>
       <dl>
        <dt> KSE801: Recommender System and Graph Machine Learning,  <em>Fall 2022</em> </dt>
        <dd>
            <li><span style="color:#808080";>Teaching Assistant <a href="https://dsail.gitbook.io/isyse-review/">Review session</a> </li>
        </dd>

  </dl>

  <dl>
    <dt> KSE527: Machine Learning for Knowledge Service,  <em>Spring 2022</em> </dt>
    <dd>
        <li><span style="color:#808080";>Teaching Assistant</li>
    </dd>

</dl>
  </div><br>