<div class="Educations">
    <h2>Educations</h2>
         <dl>
    <dt>Korea Advanced Institute of Science and Technology<a href="https://www.kaist.ac.kr/"> (link)</a><span style="float:right; color:#808080">Sep. 2021 - present</span> </dt>
        <dd><li><span style="color:#808080";>M.S. candidate in Industrial and Systems Engineering</span></li></dd>
        <dd><li><span style="color:#808080";>Research interest: Graph Neural Networks, Recommender Systems, Scene Understanding</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="https://dsail.kaist.ac.kr/professor/">Chanyoung Park</a></span></li></dd>
    <dt>Hanyang University<a href="https://www.hanyang.ac.kr/"> (link) </a><span style="float:right; color:#808080";>Mar. 2015 - Aug. 2021</span> </dt>
        <dd><li><span style="color:#808080";>B.S., Industrial Engineering (major) & Computer Science (minor) </span></li></dd>
        <!-- <dd><li><span style="color:#808080";>Advisor: <a href="http://ids.hanyang.ac.kr/professor.html">Kichun Lee</a></span></li></dd> -->

    </dl>
  </div>

<p>
</p>
<br>
</br>

<!-- <div class="Research Experience">
    <h2>Research Experience</h2>
       <dl>       
        <dt> Research Intern, <em><a href="https://dsail.kaist.ac.kr/">DSAIL@KAIST </em></a><span style="float:right; color:#808080";>Dec. 2020 - Feb. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Implementation of key papers on Graph Neural Networks and Recommendation Systems <a href="https://github.com/rlqja1107/Recommender_System">(link)</a> </span></li>
            <li><span style="color:#808080";>(Project) Generated financial networks and enhanced user representation by utilizing GraphSAGE</span></li>
        </dd>

  </dl>
  </div> -->
  
  <div class="Project">
    <h2>Project</h2>
       <dl>       
        <dt> Recommendation for financial product (Hana Bank) <span style="float:right; color:#808080";>Dec. 2020 - June. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Pre-processing the customer & financial product features </span></li>
            <li><span style="color:#808080";>Modeling the customer & financial product features by graph embedding (<em><a href="https://papers.nips.cc/paper/2013/file/1cecc7a77928ca8133fa24680a88d2f9-Paper.pdf">TransE </em></a>, <em><a href="https://aclanthology.org/P15-1067.pdf">TransD </em></a>)  </span></li>
        </dd>

        <dt> Visual Intelligence Technique Development (ETRI) <span style="float:right; color:#808080";>Aug. 2021 - Now</span> </dt>
        <dd>
            <li><span style="color:#808080";> Scene graph generation for reasoning the visual context </span></li>
        </dd>

  </dl>
  </div>

  <br>

  <div class="Teaching Experience">
    <h2>Teaching Experience</h2>
       <dl>
        <dt> KSE801: Recommender System and Graph Machine Learning,  <span style="float:right; color:#808080";>Fall 2022</span> </dt>
        <dd>
            <li><span style="color:#808080";>Teaching Assistant <a href="https://dsail.gitbook.io/isyse-review/">Review session</a> </li>
        </dd>
  </dl>
  <dl>
    <dt> KSE527: Machine Learning for Knowledge Service, <span style="float:right; color:#808080";>Spring 2022</span></dt>
    <dd>
        <li><span style="color:#808080";>Teaching Assistant</li>
    </dd>

</dl>
  </div><br>